body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.parallax-container {
  height: 400px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#headerText {
  width: 100%;
  opacity: .75;
  border-top: dashed 5px rgb(255, 255, 255, .35);
  border-bottom: dashed 5px rgb(255, 255, 255, .35);
}

#headerImg {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

#headerText h1 {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5rem;
}

