body {
  display: flex;
  min-height: 100vh;
  scroll-behavior: smooth;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.parallax-container {
  width: 100%;
  height: auto;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#headerLogo img{
  width: 60%;
  height: auto;
  margin-top: .5em;
  box-shadow: 0 0 10px;
  border-radius: 50%;
}

#headerImg {
  position: relative;
  margin: auto -50px;
}

#headerText h1 {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5rem;
}

.footer-fixed {
	position: fixed;
	bottom: 0;
  width: 100%;
  padding: 0;
}

#carouselContainer {
  margin-bottom: 11rem;
  overflow: hidden;
}

.carousel {
  margin-top: -6rem;
}

 #search {
   transform: translateX(-2%);
   padding-left: 2%
 }